* {
    padding: 0;
    margin: 0;
}

body {
    font: 24px Helvetica;
    /*background: #999999;*/
}

img {
    /*background-image: url(img/fundo.jpg);*/
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}


/*landing page */

.logo {
    margin: 1px 0px 0 100px;
    display: block;
}

.cabecera {
    width: 1920px;
    height: 90px;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.79);
}

.fondo-landing-page {
    background-color: #000000;
    margin: 0px 0px 0 0px;
}

.titulo {
    width: 525px;
    height: 150px;
    overflow: hidden;
    font-family: "Arvo", serif;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-style: bold;
    margin: 10px 0px 0 180px;
}

.fuente {
    width: 381px;
    height: 44px;
    overflow: hidden;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 600;
    margin: -50px 0px 0 400px;
}

.icono-landing {
    margin: 0px 0px 0 60px;
    width: 50%;
    height: 50%;
}

.informacao-landing {
    width: 696px;
    height: 198px;
    overflow: hidden;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
}


/*tela de login*/

.fundologin {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #666666;
    font-size: 22px;
    font-family: "Comfortaa", sans-serif;
    width: 100%;
    height: 100%;
    font-weight: bold;
    margin: auto;
}

.frame {
    width: 500px;
    height: 500px;
    border-radius: 41px;
    color: #fff;
    background-color: rgba(4, 1, 1, 0.84);
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    font-weight: bold;
    padding: 40px 76px;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #fffb00;
    font-size: 85px;
    letter-spacing: 4px;
    line-height: 1.8;
    font-weight: 400;
}

h2 {
    font-family: 'Anton', sans-serif;
}


/*botão do login e cancelar*/

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 12px 20px;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*flexbox organizando a pagina*/

aside {
    display: flex;
    background-color: #fff;
    flex-direction: row;
}

header h1 {
    font-family: 'arial';
}

header {
    display: flex;
    background-color: rgb(16, 29, 66);
    height: 70px;
}

.container-flex {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}

.item {
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
}

.item-noti {
    height: 400px;
    width: 700px;
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    background-color: #cccc33;
}


/*menu lateral*/

#menuLateral {
    background-color: rgb(137, 210, 220);
    height: 100%;
    width: 230px;
    transition: all .2s linear;
}

nav {
    background-color: rgb(16, 29, 66);
    width: 100%;
}

nav a {
    text-decoration: none;
}

.link {
    /*background-color: #8888bb;*/
    padding: 20px;
    font-family: 'arial';
    font-size: 25pt;
    transition: all .2s linear;
    color: #434343;
    border-bottom: 2px solid #222222;
}

.link:hover {
    background-color: #cccc33;
}