* {
    padding: 0;
    margin: 0;
}

body {
    font: 24px Helvetica;
    /*background: #999999;*/
    /*background-image: url(img/fundo4.jpg);*/
}

img {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}


/*landing page */

.logo {
    margin: -9px 0px 0 400px;
    display: block;
    width: 600px;
    height: 110px;
}

.cabecera {
    width: 1363px;
    height: 90px;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.79);
    border: 1px solid #eebb55;
}

.fondo-landing-page {
    background-color: #000000;
    margin: 0px 0px 0 0px;
}

.titulo {
    width: 525px;
    height: 150px;
    overflow: hidden;
    font-family: "Arvo", serif;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-style: bold;
    margin: 10px 0px 0 50px;
}

.fuente {
    width: 381px;
    height: 44px;
    overflow: hidden;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 600;
    margin: -40px 0px 0 150px;
}

.icono-landing {
    margin: 0px 0px 0 -30px;
    width: 30%;
    height: 30%;
    float: left;
}

.informacao-landing {
    width: 696px;
    height: 325px;
    overflow: hidden;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
}

.imagenlanding {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
    margin: -1000px 0px 0 40px;
}

.formulario {
    width: 750px;
    height: 450px;
    overflow: visible;
    background: linear-gradient(180deg, #ff0000 0%, hsl(0, 0%, 72%) 100%);
    margin: -470px 50px 0 0px;
    float: right;
}

.titulo-formulario {
    width: 500px;
    height: 35px;
    overflow: hidden;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    margin: 30px 0px 0 160px;
}

.subtitulo-formulario {
    width: 569px;
    height: 44px;
    overflow: hidden;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0px 0px 0 190px;
}

.formulario-nombre {
    width: 24px;
    height: 12px;
    overflow: hidden;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 2;
    margin: 0px 0px 0 80px;
    font-weight: 700;
}

.inputlanding {
    width: 70%;
    padding: 7px 0px;
    margin: 0px 0px 0 80px;
    box-sizing: border-box;
}

.landingboton {
    margin: 30px 0px 0 200px;
}


/*fundo do login*/

.fundologin {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.fundologin img {
    height: 160px;
    width: 160px;
    margin-top: 20px;
}

.frame {
    width: 450px;
    height: 550px;
    background-color: #2982b6;
    display: flex;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #000000;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 1.8;
    font-weight: 400;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

.fname.lname {
    font-family: 'Noto Sans', sans-serif;
    line-height: 5;
}

.inputlogin {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form {
    height: 30px;
    width: 55%;
}


/*formatação botão login, fincionario, senha*/

input[type=submit] {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

input[value=Login] {
    font-size: 20pt;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #000000;
    color: white;
}

label[for=fname] {
    font-size: 15pt;
    font-weight: bold;
}

label[for=lname] {
    font-size: 15pt;
    font-weight: bold;
}


/*flexbox organizando a pagina*/

aside {
    display: flex;
    background-color: #fff;
    flex-direction: row;
}

header h2 {
    color: #fff;
    margin: 0 auto;
}

.header-index {
    display: flex;
    background-color: rgb(16, 29, 66);
    height: 70px;
}

section {
    display: flex;
    margin: 0 auto;
    flex-flow: column nowrap;
}

.item {
    margin: 7px;
    text-align: center;
    font-size: 1.5em;
}


/*serviços em andamentos */

.item-noti {
    height: 460px;
    width: 1000px;
    margin: 5px;
    font-size: 1.5em;
    margin-top: 20px;
    background-color: #fff;
    border: 3px solid #222;
}

.item-status {
    overflow-x: auto;
    height: 420px;
    width: 1000px;
}


/*simulando serviços em andametos */

#statusservicos {
    height: 40px;
    font-size: 15pt;
    display: flex;
    align-items: center;
}

#servicosid {
    width: 10%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#servicosStatus {
    width: 14%;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-self: center;
}

#servicosfuncionario {
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#servicosPlaca {
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#servicosEntrada {
    width: 20%;
    justify-content: center;
    display: flex;
    align-self: center;
}


/*///////////////*/

.statusveiculos {
    height: 90px;
    font-size: 15pt;
    display: flex;
    border-top: 2px solid rgba(122, 121, 122, 0.4);
    align-items: center;
}

.statusid {
    width: 10%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.statusStatus {
    width: 14%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #2982b6;
    border-radius: 10px;
}

.statusStatuspronto {
    width: 14%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #14bb1d;
    border-radius: 10px;
}

.statusStatuspeca {
    width: 14%;
    height: 80%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #e0dd2c;
    border-radius: 10px;
}

.statusStatusstrasado {
    width: 14%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #d41919;
    border-radius: 10px;
}

.statusfuncionario {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusPlaca {
    width: 20%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.statusEntrada {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoeditarstaus {
    height: 100%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}


/*menu lateral*/

.menuLateral {
    background-color: rgb(16, 29, 66);
    width: 230px;
    transition: all .2s linear;
}


/*sub tela do botão edita posição*/

#meuBtn1 {
    width: 20%;
    padding: 9px;
    border-radius: 10px;
    background-color: #d41919;
    display: flex;
}

#meuBtn1:hover {
    background-color: #cf1a1a11;
    cursor: pointer;
}

#meuBtn2 {
    width: 20%;
    padding: 9px;
    border-radius: 10px;
    background-color: #42bb37;
    display: flex;
}

#meuBtn2:hover {
    background-color: #cf1a1a11;
    cursor: pointer;
}

.bt1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* tela ondem aparece os conteudo da sub-tela*/

.bt1-content {
    margin: auto;
    padding: 20px;
    border: 0px solid #fff;
    width: 60%;
    height: 70%;
}

.bt2-content {
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 50%;
}

.close1 {
    color: #aaaaaa;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bold;
    background-color: #fff;
}

.close2 {
    color: #aaaaaa;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bold;
    background-color: #fff;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/****/


/*sub tela da pagina */

.bt2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/*CONTEUDO DA SUB-PAGINA*/

.sub-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.sub-pagina p {
    width: 96%;
    display: flex;
    justify-content: center;
    font-size: 20pt;
    padding: 10px;
}

.sub-conteudo {
    height: 380px;
    width: 90%;
    padding: 30px;
    border-bottom: 10px;
    background-color: #fff;
    font-size: 19pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menuInf input {
    font-size: 15pt;
}

.problemaVeiculo {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
    height: 120px;
    width: 600px;
    font-size: 20pt;
    font-family: 'arial';
}

p {
    font-size: 30px;
    font-family: 'arial';
    font-weight: bold;
    background-color: #fff;
}

nav {
    background-color: #27678b;
}

nav a {
    text-decoration: none;
}

.link {
    /*background-color: #8888bb;*/
    padding: 19.5px;
    font-family: 'arial';
    font-size: 25pt;
    display: flex;
    transition: all .2s linear;
    color: #ffff;
    border-bottom: 2px solid #434343;
    background-color: #27678b;
}

.link:hover {
    background-color: #cccc33;
}

ul {
    display: flex;
    text-decoration: none;
}


/*pagina de clientes*/

.link1 {
    color: #fff;
    padding: 30px;
    border: 1px solid #fff;
}

.botãoinicia {
    display: flex;
    text-decoration: none;
    color: #fff;
    padding: 30px;
    width: 105px;
    background-color: #cccc33;
    border-bottom: 1px solid #fff;
}

.botãoinicia:hover {
    background-color: #eebb55;
}

#menuLateral1 {
    padding: 0px;
    background-color: #cccc33;
    transition: all .2s linear;
}

.link2 {
    padding: 30px;
    font-family: 'arial';
    font-size: 20pt;
    transition: all .2s linear;
    color: #434343;
    border-bottom: 1px solid #fff;
    background-color: rgb(137, 210, 220);
}

.link2:hover {
    background-color: #cccc33;
}

.link1:hover {
    background-color: #cccc33;
}

.menubusca {
    display: flex;
}

.item1 {
    margin-left: 0px;
}

.menuPesquisa {
    margin-right: 30px;
    font-size: 15pt;
}

.inputlogin1 {
    width: 300px;
    height: 25px;
}


/* botão de pesquisa da pagina de clientes */

.opcao1 {
    width: 150px;
    padding: 5px;
    border: 1 solid black;
}

.itemform {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}


/*botão de pesquisa da pagina */

#botaopesquisa {
    padding: 10px;
    font-family: 'arial';
    font-size: 20pt;
    color: #434343;
    border-radius: 15px;
    border-bottom: 1px solid black;
    background-color: rgb(137, 210, 220);
    margin-top: 20px;
    text-decoration: none;
}

.menuPesquisabotao {
    margin-top: 10px;
}


/*/////////////////////////////////////////*/


/*pesquisa do cliente*/

#statuscliente {
    background-color: rgba(143, 136, 136, 0.568);
    width: 100%;
    height: 6%;
    display: flex;
    font-size: 25px;
}

#nomedocliente {
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

#cpfcliente {
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

#datacliente {
    width: 15%;
    height: 100%;
    border: 1px solid black;
}

#dataTelefone {
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

#dataVeiculos {
    width: 20%;
    height: 100%;
    border: 1px solid black;
}


/* div da janela de resultados */

.item-buscacliente {
    height: 460px;
    width: 1000px;
    margin: 1px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 35px;
    background-color: #fff;
    border: 2px solid #222;
}


/*acabou "pesquisa do cliente" */


/*resultado da pesquisa do cliente*/

.resultadocliente {
    margin-top: 2px;
    padding: 10px;
    display: flex;
    font-size: 15pt;
    font-family: arial;
    border: 2px solid black;
}

#nomeresultado {
    background-color: #fff;
    width: 40%;
    height: 100%;
}


/*funcion3vehiculos*/

.logov {
    margin: 0px 0px 0 400px;
    display: block;
    width: 650px;
    height: 60px;
}

.itemv {
    width: 500px;
    height: 50px;
    font-family: "Inter-Bold", "Inter", sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin: 30px 0px 0 320px;
}

.tablav {
    margin: 20px 0px 0 0px;
    background-color: black;
    width: 950px;
    border-collapse: collapse;
}

.borde {
    border: solid 1px white;
    padding: 5px;
    color: white;
}

.bordet {
    border: solid 1px white;
    padding: 0;
    color: yellow;
    text-align: center;
    background-color: black;
    padding: 10px;
}

th:hover {
    background-color: rgb(16, 29, 66);
    color: yellow;
}