* {
    padding: 0;
    margin: 0;
}

body {
    font: 24px Helvetica;
    background: #999999;
    padding: 0;
    margin: 0;
}


/*landing page */

.logo {
    margin: -7px 0px 0 100px;
    display: block;
}

.cabecera {
    width: 1920px;
    height: 90px;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.79);
}

.fondo-landing-page {
    background-color: #000000;
    margin: 0px 0px 0 0px;
}

.titulo {
    width: 525px;
    height: 150px;
    overflow: hidden;
    font-family: "Arvo", serif;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-style: bold;
    margin: 10px 0px 0 180px;
}

.fuente {
    width: 381px;
    height: 44px;
    overflow: hidden;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 600;
    margin: -50px 0px 0 400px;
}
.icono-landing{
    margin: 0px 0px 0 60px;  
    width: 50%;
    height: 50%; 
}

.informacao-landing{
  width: 696px;
  height: 198px;
  overflow: hidden;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
}

.fundologin {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #666666;
    font-size: 22px;
    font-family: "Comfortaa", sans-serif;
    width: 100%;
    height: 100%;
    font-weight: bold;
    margin: auto;
}

.frame {
    width: 500px;
    height: 500px;
    border-radius: 41px;
    color: #fff;
    background-color: rgba(4, 1, 1, 0.84);
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    font-weight: bold;
    padding: 40px 76px;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #fffb00;
    font-size: 85px;
    letter-spacing: 4px;
    line-height: 1.8;
    font-weight: 400;
}

.fname.lname {
    font-family: 'Noto Sans', sans-serif;
    line-height: 5;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 12px 20px;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}

#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

#main>article {
    padding: 5px;
    border: 1px solid #cccc33;
    background: #dddd88;
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 2;
    order: 2;
}

#main>nav {
    padding: 5px;
    border: 1px solid #8888bb;
    background: rgb(16, 29, 66);
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 1;
    order: 1;
}

#main>aside {
    padding: 5px;
    border: 1px solid #8888bb;
    background: #ccccff;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 3;
    order: 3;
}

header,
footer {
    display: block;
    padding: 5px;
    min-height: 74px;
    border: 1px solid #eebb55;
    background: rgb(16, 29, 66);
}

@media all and (max-width: 640px) {
    #main,
    #page {
        -webkit-flex-flow: column;
        flex-flow: column;
    }
    #main>article,
    #main>nav,
    #main>aside {
        -webkit-order: 0;
        order: 0;
    }
    #main>nav,
    #main>aside,
    header,
    footer {
        min-height: 50px;
        max-height: 50px;
    }
}

.notificacao {
    height: 500px;
    width: 500px;
    background-color: #cccc33;
    padding: 30px;
    border: 40px;
}