.texto{
         font-family: calibri;
         font-size: 90%;
         color: black;
}

.header-index{
    display: flex;
    background-color: rgb(16, 29, 66);
    height: 70px;
}

.logov{
    margin-left: 1px;
    display: block;
    width: 350px;
    height: 60px;
    
}
#menuLateral {
    background-color: rgb(16, 29, 66);
    width: 230px;
}
.link {
    /*background-color: #8888bb;*/
    padding: 20px;
    font-family: 'arial';
    font-size: 25pt;
    color: black;
    border:  2px solid #222222;
    background-color: rgb(137, 210, 220);
}


.menu{ 
        display: flex;
        }        

.caixa{
        max-width: 700px;
        margin: 0 auto;
        border: 2px solid black;
        background-color: rgb(137, 210, 220);
        
}
.box{
    margin: 5px;
    text-align: left;
    font-family: arial;
    font-size: 1.5em;
    color: black;
    background-color: rgb(137, 210, 220);
}
.flex{
        justify-content: initial;
        flex-wrap: wrap;
}
.h1{
    text-align:center ;
}
.cad{
    display: flex;
    justify-content: center;
}