* {
    margin: 0;
    padding: 0;
}

.texto {
    font-family: calibri;
    font-size: 90%;
    color: black;
}

.header-index {
    display: flex;
    background-color: rgb(16, 29, 66);
    height: 70px;
}

.logov {
    margin-left: 1px;
    display: block;
    width: 350px;
    height: 60px;
}

#menuLateral {
    text-decoration: none;
    background-color: rgb(16, 29, 66);
    width: 230px;
}

.link {
    padding: 10px;
    font-family: 'arial';
    font-size: 18pt;
    color: black;
    border: 2px solid #222222;
    background-color: rgb(137, 210, 220);
}

.menu {
    display: flex;
}

.caixa {
    max-width: 500px;
    max-height: 500px;
    margin-left: 100px;
    border: 2px solid black;
    background-color: rgb(137, 210, 220);
}

.box {
    margin: 5px;
    text-align: left;
    font-family: arial;
    font-size: 1.5em;
    color: black;
    background-color: rgb(137, 210, 220);
}

a {
    text-decoration: none;
}

.flex {
    justify-content: initial;
    flex-wrap: wrap;
}

h1 {
    margin-left: 100px;
    text-align: center;
    font-family: arial;
    font-style: oblique;
    font-size: 150%;
    background-color: rgb(137, 210, 220);
}

.cad {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    font-family: arial;
    font-style: oblique;
    font-size: 150%;
    color: white;
    background-color: rgb(16, 29, 66);
}